.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


.left {
  left: 0;
  background-image: url("../black_bg_noisy.png");
}


.right {
  right: 0;
  background-image: url("../white_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.left_heading{
    font-size: large;
    text-align: center;
    color:white;
    font-family: 'Gill Sans','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    align-content: center;
}

.right_heading{
    font-size: large;
    text-align: center;
    color:black;
    font-family: 'Gill Sans','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}

.image{
  border: 5px #fff solid;
  max-width:600px;
  max-height:600px;
  width: auto;
  height: auto;
  }

  .image-div{
    padding: 50px 50px 0px 50px !important;
  }

  .file{
    color: rgba(0, 0, 0, 0);
  }

  .capturebtn{
    border: none;
    margin-top: 2px;
  }

  .denoisebtn{
    border: none;
    margin-top: 20px;
  }

  .clean_image{
    padding-top: 50px ;
    height: 600px;
    width: 600px;
  }

  .noise{
    text-align: left;
    margin-left: 200px;
    padding-top: 20px;
  }

  .download{
      padding-bottom:20px;
  }